<main>
  <div class="container main-banner">
    <div class="main-banner__main">
      <div>
        <h1>Обучение игре<br />на электрогитаре</h1>
        <div class="main-banner__box">
          <div class="banner-box">
            <h2>О направлении</h2>
            <p>Вы научитесь играть на электрогитаре под чутким руководством
              преподавателя, даже если раньше никогда не держали электрогитару в
              руках<br />С нами возможно всё!
            </p>
          </div>
          <img src="/img/guitar.svg" alt="Электро гитара" />
        </div>
      </div>
      <button type="button" class="registration-button">Записаться</button>
    </div>
    <div class="main-banner__info"></div>
  </div>
</main>