<header class="page-header">
  <a href="#" class="page-header__logo">
    <img src="img/logo.svg" alt="MUSIC ПРОРЫВ" />
  </a>
  <div class="page-header--decor-line"></div>
  <a href="#" class="page-header__all-directions">Все направления</a>
</header>